@model IEnumerable<CategoryDto>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Kategoriler</h2>
<a class="btn btn-primary mb-1" asp-action="Create">Kategori Ekle</a>
<table class="table table-bordered">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>İşlemler</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var category in Model)
    {
        <tr>
            <td>@category.Id</td>
            <td>@category.Name</td>
            <td style="width: 160px">
                <a class="btn btn-outline-primary" asp-action="Update" asp-controller="Categories" asp-route-id="@category.Id">Güncelle</a>
                <a class="btn btn-outline-danger" 
                   OnClientClick="javascript:return confirm('Güncellemek istediğinize emin misiniz?')"
                   asp-action="Delete" asp-controller="Categories" asp-route-id="@category.Id">Sil</a>
            </td>
        </tr>
    }
    </tbody>
</table>